@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Wedding Theme Colors */
  --color-deep-green: #060655;
  --color-gold: #c5a059;
  --color-cream: #fdfbf7;
  --color-soft-green: #e8f3f1;
  --color-text-main: #060655;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-deep-green: var(--color-deep-green);
  --color-gold: var(--color-gold);
  --color-cream: var(--color-cream);
  --color-soft-green: var(--color-soft-green);
  --color-text-main: var(--color-text-main);

  --font-sans: var(--font-geist-sans);
  --font-serif: var(--font-playfair-display);
  --font-script: var(--font-great-vibes);
}

body {
  background: var(--color-cream);
  color: var(--color-text-main);
  font-family: var(--font-sans);
}
